# Local-only: candid design deliberations + copyrighted paper — never publish
# (CLAUDE.md, DESIGN.md, PLAN.md, MAINTENANCE.md and the agent skills ARE tracked,
#  so teammates can work on the site with Claude Code. This repo is public.)
vision.md
research/
3640544.3645257.pdf

# OS
.DS_Store
